.component-app {
    height: 100%;
}

.component-app mat-sidenav-container {
    height: 100%;
}

.component-app mat-toolbar .spacer {
    flex: 1 1 auto;
}

.component-app mat-sidenav-container {
    padding: 10px;
}