<div class="wrapper-component">
    <div class="wrapper-tbl">
        <table class="tbl-clients">
            <caption>Clients</caption>
            <thead>
                <tr>
                    <th>Client</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Client</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-tbl -->
</div><!-- .wrapper-component -->