<div class="wrapper-component">
    <div class="wrapper-tb">
        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <button mat-button class="btn-admin-clients" aria-label="Administer clients" [matMenuTriggerFor]="clientsMenu">
                    Clients
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-menu #clientsMenu="matMenu">
            <a mat-menu-item title="List" routerLink="/admin/clients/client/list">List</a>
            <a mat-menu-item title="Add" routerLink="/admin/clients/client/new">New</a>
        </mat-menu>
    </div><!-- .wrapper-tb -->
</div><!-- .wrapper-component -->
<router-outlet></router-outlet>