<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-members" method="post" action="" [formGroup]="formMembers" (ngSubmit)="submit()">
            <fieldset class="members">
                <div class="wrapper-table">
                    <table class="tbl-members-active">
                        <caption>Active Members</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Email</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody formGroupName="active">
                            <tr *ngFor="let m of formMembers.controls.members">
                                <td>
                                    <input type="checkbox" name="members" [value]="m.member.id" />
                                </td>
                                <td>
                                    {{ m.member.email }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit">remove</button>
                </div><!-- .wrapper-table -->
            </fieldset>
            <fieldset class="requests">
                <div class="wrapper-table">
                    <table class="tbl-members-inactive">
                        <caption>Inactive and Requesting Members</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Email</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of members_inactive">
                                <td>
                                    <mat-form-field appearance="outline">
                                        <input type="checkbox" class="field-select" name="members_inactive_select" [value]="m.id" />
                                    </mat-form-field>
                                </td>
                                <td>
                                    {{ m.email }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- .wrapper-table -->
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->