<div id="wrapper-password" class="wrapper-component">
    <div class="wrapper-form">
        <form id="form-password" [formGroup]="passwordForm" (ngSubmit)="submit">
            <fieldset class="errors" *ngIf="(pw1?.invalid && (pw1?.dirty || pw1?.touched)) && (pw2?.invalid && (pw2?.dirty || pw2?.touched))">
                <div class="error required" *ngIf="pw1?.errors?.required">Password is required</div>
                <div class="error minlength" *ngIf="pw1?.errors?.minlength">Passwords is too short</div>
                <div class="error upper" *ngIf="pw1?.errors?.upper">Password should contain at least 2 uppercase characters</div>
                <div class="error numeric" *ngIf="pw1?.errors?.numeric">Password should contain at least 2 numeric characters</div>
                <div class="error match" *ngIf="pw2?.errors?.identical">Passwords are not identical</div>
            </fieldset>
            <fieldset class="fields">
                <legend>Password Maintenance</legend>
                <div id="field-pw" class="wrapper-field">
                    <label for="pw1">Password</label>
                    <input type="password" id="pw1" name="pw1" required formControlName="pw1" />
                </div><!-- .wrapper-field -->
                <div id="field-pw2" class="wrapper-field">
                    <label for="pw2">Confirm Password</label>
                    <input type="password" id="pw2" name="pw2" required formControlName="pw2" />
                </div><!-- .wrapper-field -->
            </fieldset>
            <fieldset class="actions">
                <button type="submit" id="submit">Save</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->