<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-password" method="post" action="" [formGroup]="formPassword" (submit)="submit()">
            <fieldset class="actions">
                <button type="submit" mat-icon-button color="primary" [disabled]="formPassword.invalid || submitting">
                    <mat-icon>save</mat-icon>
                </button>
            </fieldset>
            <fieldset>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" id="pw1" name="pw1" class="field-pw1" placeholder="Password" required matInput formControlName="pw1" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your password</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" id="pw2" name="pw2" class="field-pw2" placeholder="Confirm Password" required matInput formControlName="pw2" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please confirm your password</mat-hint>
                </mat-form-field>
                <div class="wrapper-field-errors">
                    <div class="error error-required" *ngIf="((pw1?.touched || pw1?.dirty) && pw1?.errors?.['required']) || ((pw2?.touched || pw2?.dirty) && pw2?.errors?.['required'])">Password is required</div><!-- .error -->
                    <div class="error error-minlength" *ngIf="((pw1?.touched || pw1?.dirty) && pw1?.errors?.['minlength']) || ((pw2?.touched || pw2?.dirty) && pw2?.errors?.['minlength'])">Passwords should be 8 or more characters</div><!-- .error -->
                    <div class="error error-upper" *ngIf="((pw1?.touched || pw1?.dirty) && pw1?.errors?.['upper'])">Passwords should have 2 or more uppecase characters</div><!-- .error -->
                    <div class="error error-numeric" *ngIf="((pw1?.touched || pw1?.dirty) && pw1?.errors?.['numeric'])">Passwords should have 2 or more numerical characters</div><!-- .error -->
                    <div class="error error-identical" *ngIf="(pw1?.touched || pw1?.dirty) && (pw2?.touched || pw2?.dirty) && formPassword?.errors?.['identical']">Passwords should match</div><!-- .error -->
                </div><!-- .wrapper-field-errors -->
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->