<div class="wrapper-component component-register-complete">
    <div class="wrapper-form">
        <form class="form-complete" method="post" action="" [formGroup]="completeForm" (ngSubmit)="submit()">
            <fieldset>
                <h4>Complete the form below to register an account with the application</h4>
            </fieldset>
            <fieldset>
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input type="email" id="email" name="email" class="field-email" placeholder="Email Address" required matInput formControlName="email" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter email address</mat-hint>
                </mat-form-field>
            </fieldset>
            <fieldset>
                <mat-form-field appearance="outline">
                    <mat-label>Prefix</mat-label>
                    <input type="text" id="prefix" name="prefix" class="field-prefix" placeholder="Honorific prefix" required matInput />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your honorific prefix</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name</mat-label>
                    <input type="text" id="given_name" name="given_name" class="field-given-name" placeholder="Given Name" required matInput />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your given name</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" id="middle_name" name="middle_name" class="field-middle-name" placeholder="Middle Name" required matInput />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your middle name</mat-hint>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Family Name</mat-label>
                    <input type="text" id="family_name" name="family_name" class="field-family-name" placeholder="Family Name" required matInput />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your family name</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Suffix</mat-label>
                    <input type="text" id="prefix" name="suffix" class="field-suffix" placeholder="Honorific suffix" required matInput />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter your honorific suffix</mat-hint>
                </mat-form-field>
            </fieldset>
            <fieldset class="actions">
                <button mat-raised-button color="primary" [disabled]="completeForm.invalid">Register</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->