<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-employee" method="post" action="">
            <fieldset>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text" id="name" name="name" class="field-name" placeholder="Name" required matInput formControlName="name" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter client name</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input type="text" id="name" name="name" class="field-name" placeholder="Name" required matInput formControlName="name" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter client name</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="text" id="name" name="name" class="field-name" placeholder="Name" required matInput formControlName="name" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter client name</mat-hint>
                </mat-form-field>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
    <h1>//TODO Employee</h1>
</div><!-- .wrapper-component -->