<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-timesheet" method="post" action="">
            <fieldset>
                <div class="wrapper-table">
                    <table class="tbl-times">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container></ng-container>
                        </tbody>
                    </table>
                </div><!-- .wrapper-table -->
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->