<div class="wrapper-component">
    <div class="wrapper-users">
        <div class="wrapper-form">
            <form class="form-filter" method="post" action="" [formGroup]="formFilter" (ngSubmit)="submit()">
                <fieldset>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <input type="search" id="filter" name="filter" class="field-filter" placeholder="Filter" required matInput formControlName="filter" />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Please enter filter</mat-hint>
                    </mat-form-field>
                    <mat-select id="items" name="items" class="field-items" formControlName="items">
                        <mat-option value="10">10</mat-option >
                        <mat-option value="20">20</mat-option >
                        <mat-option value="30">30</mat-option >
                    </mat-select>
                    <button type="button" mat-icon-button (click)="navigate_first()" [disabled]="current_page <= 1">
                        <mat-icon>first_page</mat-icon>
                    </button>
                    <button type="button" mat-icon-button (click)="navigate_previous()" [disabled]="current_page <= 1">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                    <mat-form-field appearance="outline">
                        <input type="number" id="page" name="page" class="field-page" required matInput formControlName="page" />
                    </mat-form-field>
                    <button type="button" mat-icon-button (click)="navigate_next()">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                    <button type="button" mat-icon-button (click)="navigate_last()">
                        <mat-icon>last_page</mat-icon>
                    </button>
                </fieldset>
                <fieldset>
                    <button mat-icon-button type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </fieldset>
            </form>
        </div><!-- .wrapper-form -->
        <div class="wrapper-tbl">
            <table>
                <caption>Users</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Active</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td></td>
                        <td>
                            <a title="View" class="link-user-view" routerLink="/admin/users/view/{{ u.id }}">view</a>
                        </td>
                        <td>
                            <a title="Edit" class="link-user-edit" routerLink="/admin/users/edit/{{ u.id }}">edit</a>
                        </td>
                        <td>{{ u.active }}</td>
                        <td>
                            <a [title]="u.email" class="link-user-view" routerLink="/admin/users/view/{{ u.id }}">{{ u.email }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--- .wrapper-tbl -->
    </div><!-- .wrapper-users -->
</div><!-- .wrapper-component -->