<div id="wrapper-password" class="wrapper-component">
    <div class="wrapper-form">
        <form id="form-password" [formGroup]="passwordForm" (ngSubmit)="submit">
            <fieldset class="fields">
                <legend>Password Maintenance</legend>
                <div id="field-pw" class="wrapper-field">
                    <label for="pw1">Password</label>
                    <input type="password" id="pw1" name="pw1" required formControlName="pw1" />
                </div><!-- .wrapper-field -->
                <div id="field-pw2" class="wrapper-field">
                    <label for="pw2">Confirm Password</label>
                    <input type="password" id="pw2" name="pw2" required formControlName="pw2" />
                </div><!-- .wrapper-field -->
            </fieldset>
            <fieldset class="actions">
                <button type="submit" id="submit">Save</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->