<div id="wrapper-signup">
    <div class="wrapper-form">
        <form id="form-signup" [formGroup]="signupForm" (ngSubmit)="signup()">
            <fieldset class="errors" *ngIf="signupForm.invalid">
                <div class="error" *ngIf="signupForm.errors?.controlsIdentical">Emails are not identical</div>
            </fieldset>
            <fieldset class="fields" formGroupName="emails">
                <div id="field-email" class="wrapper-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required formControlName="email" />
                </div><!-- .wrapper-field -->
                <div id="field-email-confirm" class="wrapper-field">
                    <label for="email-confirm">Confirm Email</label>
                    <input type="email" id="email-confirm" name="email-confirm" required formControlName="confirm"/>
                </div><!-- .wrapper-field -->
                <div class="wrapper-field-errors" *ngIf="(email?.invalid && (email?.dirty || email?.touched)) || (confirm?.invalid && (confirm?.dirty || confirm?.touched)) || (emails?.errors?.identical)">
                    <div class="error required" *ngIf="email?.errors?.required">Email address is required</div>
                    <div class="error invalid" *ngIf="email?.errors?.email">Email is not valid</div>
                    <div class="error error-emails-identical" *ngIf="emails?.errors?.identical">Emails are not identical</div>
                </div><!-- .wrapper-field-errors -->
            </fieldset>
            <fieldset class="fields" formGroupName="passwords">
                <div id="field-pw1" class="wrapper-field">
                    <label for="password">Password</label>
                    <input type="password" id="pw1" name="pw1" required formControlName="pw1" />
                </div><!-- .wrapper-field -->
                <div id="field-pw2" class="wrapper-field">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="pw2" name="pw2" required pattern="\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b" formControlName="pw2" />
                </div><!-- .wrapper-field -->
                <div class="wrapper-field-errors">
                    <div class="errors" *ngIf="(pw1?.invalid && (pw1?.dirty || pw1?.touched)) || (pw2?.invalid && (pw2?.dirty || pw2?.touched)) || (passwords?.errors?.identical)">
                        <div class="error error-required" *ngIf="pw1?.errors?.required">Password is required</div>
                        <div class="error error-minlength" *ngIf="pw1?.errors?.minlength">Password is too short</div>
                        <div class="error error-required" *ngIf="pw2?.errors?.required">Please confirm password</div>
                        <div class="error error-upper" *ngIf="pw1?.errors?.upper">Password requires a minimum of 2 uppercase characters</div>
                        <div class="error error-lower" *ngIf="pw1?.errors?.lower">Password requires a minimum of 2 lowercase characters</div>
                        <div class="error error-number" *ngIf="pw1?.errors?.number">Password requires a minimum of 2 numbers</div>
                        <div class="error error-passwords-identical" *ngIf="passwords?.errors?.identical">Passwords are not identical</div>
                        
                    </div><!-- .errors -->
                </div><!-- .wrapper-field-errors -->
            </fieldset><!-- .fields -->
            <fieldset class="actions">
                <button type="submit">
                    Sign Up
                </button>
            </fieldset>
            <fieldset class="links">
                <ul>
                    <li><a routerLink="/user/signin">Sign In</a></li>
                </ul>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- #wrapper-signup -->