<div id="wrapper-signup">
    <div class="wrapper-form">
        <form id="form-signup">
            <fieldset class="fields">
                <div id="field-email" class="wrapper-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                </div><!-- .wrapper-field -->
                <div id="field-email-confirm" class="wrapper-field">
                    <label for="email-confirm">Confirm Email</label>
                    <input type="email" id="email-confirm" name="email-confirm" required />
                </div><!-- .wrapper-field -->
            </fieldset>
            <fieldset class="actions">
                <button type="submit">
                    Sign Up
                </button>
            </fieldset>
            <fieldset class="links">
                <ul>
                    <li><a routerLink="/user/signin">Sign In</a></li>
                </ul>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- #wrapper-signup -->