<div class="wrapper-component">
    <div class="pane-left">
        left
    </div><!-- .pane-left -->
    <div class="pane-right">
        <div class="wrapper-toolbar">
            <mat-toolbar class="primary" class="component-toolbar">
                <button mat-icon-button aria-label="toolbar action 1">tool action 1</button>
                <button mat-icon-button aria-label="toolbar action 2">tool action 2</button>
            </mat-toolbar>
        </div><!-- .wrapper-toolbar -->
        <div class="wrapper-table">
            <table class="work-items">
                <caption>Work Items</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            <button>Action 1</button>
                            <button>Action 2</button>
                        </td>
                        <td>
                            <a title="Subject 1">Subject 1</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .wrapper-table -->
    </div><!-- .pane-right -->
</div><!-- .wrapper-component -->