<div class="wrapper-component">
    <div class="wrapper-tb">
        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <button mat-button class="btn-admin-clients" aria-label="Administer clients" [matMenuTriggerFor]="clientsMenu">
                    Clients
                </button>
                <button mat-button class="btn-admin-clients" aria-label="Save">
                    <mat-icon>save</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-menu #clientsMenu="matMenu">
            <a mat-menu-item title="List" routerLink="/admin/clients/list">List</a>
            <a mat-menu-item title="Add" routerLink="/admin/clients/new">New</a>
        </mat-menu>
    </div><!-- .wrapper-tb -->
    <div class="wrapper-table">
        <table class="tbl-clients">
            <caption>Clients</caption>
            <colgroup>
                <col span="2" class="actions">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="action-view"></th>
                    <th scope="col" class="action-edit"></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th scope="col" class="action-view"></th>
                    <th scope="col" class="action-edit"></th>
                    <th>Name</th>
                </tr>
            </tfoot>
            <tbody>
                <tr *ngFor="let c of clients">
                    <td>
                        <a title="{{ c.name }}" routerLink="/admin/clients/client/{{ c.id }}">View</a>
                    </td>
                    <td>
                        <a title="{{ c.name }}" routerLink="/admin/clients/client/{{ c.id }}/edit">Edit</a>
                    </td>
                    <td>
                        <a title="{{ c.name }}" routerLink="/admin/clients/client/{{ c.id }}">{{ c.name }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-table -->
</div><!-- .wrapper-component -->