<div class="wrapper-component">
    <div class="wrapper-tb">
        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <button mat-button class="btn-admin-clients" aria-label="Administer clients" [matMenuTriggerFor]="clientsMenu">
                    Clients
                </button>
                <button mat-button class="btn-admin-clients" aria-label="Save">
                    <mat-icon>save</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-menu #clientsMenu="matMenu">
            <a mat-menu-item title="List" routerLink="/admin/clients/list">List</a>
            <a mat-menu-item title="Add" routerLink="/admin/clients/new">New</a>
        </mat-menu>
    </div><!-- .wrapper-tb -->
    <div class="wrapper-table">
        <table class="tbl-clients">
            <caption>Clients</caption>
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <div class="wrapper-form">
                        <form class="form-clients" method="post" action="" [formGroup]="formClients">
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" id="name" name="name" class="field-name" placeholder="Name" matInput formControlName="name"/>
                                </mat-form-field>
                            </td>
                            <td>
                                <button>&lt;</button>
                                <button>&lt;</button>
                                
                                <mat-form-field appearance="outline">
                                    <mat-label>Page</mat-label>
                                    <input type="number" id="page" name="page" class="field-page" placeholder="Page" required matInput formControlName="page"/>
                                </mat-form-field>

                                <button>&gt;</button>
                                <button>&gt;</button>
                                &nbsp;
                                <mat-form-field appearance="outline">
                                    <mat-label>Items</mat-label>
                                    <mat-select id="items" name="items" formControlName="items">
                                        <mat-option [value]="10">10</mat-option>
                                        <mat-option [value]="20">20</mat-option>
                                        <mat-option [value]="30">30</mat-option>
                                        <mat-option [value]="40">40</mat-option>
                                        <mat-option [value]="50">50</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </form>
                    </div><!-- .wrapper-form -->
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                </tr>
            </tfoot>
            <tbody>
                <tr *ngFor="let c of clients">
                    <td></td>
                    <td>{{ c.name }}</td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-table -->
</div><!-- .wrapper-component -->