<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-items" method="post" action="" [formGroup]="formItems" (ngSubmit)="submit()">
            <fieldset>
                <mat-form-field appearance="outline">
                    <mat-label>Filter</mat-label>
                    <input type="search" id="filter" name="filter" class="field-filter" placeholder="Filter" required matInput formControlName="filter" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter filter</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label></mat-label>
                    <input type="number" id="items" name="items" class="field-items" placeholder="Items" required matInput formControlName="items" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please select items to show</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Page</mat-label>
                    <input type="number" id="page" name="page" class="field-page" placeholder="Page" required matInput formControlName="page" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please select page</mat-hint>
                </mat-form-field>
            </fieldset>
            <fieldset>
                <button mat-icon-button type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
    <div class="wrapper-table">
        <table class="tbl-items">
            <caption>Items</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-table -->
</div><!-- .wrapper-component -->