<div id="component-app" class="wrapper-component">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #$nav mode="side" position="end">
      Right content
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar class="tb-app" color="primary">
        <button mat-icon-button (click)="$nav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>idEAS</h1>
        <span class="spacer"></span>
        <button mat-icon-button class="notifications" aria-label="Notifications" (click)="$nav.toggle()">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      Content
      
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><!-- .wrapper-component -->