<div id="component-app" class="wrapper-component">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="navleft" #$navleft mode="over" position="start">
      <ul>
        <li>
          <a title="Admin" routerLink="admin">Admin</a>
        </li>
        <li>
          <a title="CRM" routerLink="crm">CRM</a>
        </li>
        <li>
          <a title="Accounting" routerLink="accounting">Accounting</a>
        </li>
        <li>
          <a title="Inventory" routerLink="inventory">Inventory</a>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav #$navright mode="over" position="end">
      right content
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar class="tb-app" color="primary">
        <button mat-icon-button (click)="$navleft.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>idEAS</h1>
        <span class="spacer"></span>
        <button mat-icon-button class="notifications" aria-label="Notifications" (click)="$navright.toggle()">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="wrapper-content">
        <div class="wrapper-tb-content">
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
        </div>
        <div class="wrapper-content-main">

          <pre>
            {{ (user$ | async)?.email }}
          </pre>

          <router-outlet></router-outlet>
        </div>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div><!-- .wrapper-component -->