<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-signin" method="post" action="" [formGroup]="signinForm" (ngSubmit)="submit()">
            <fieldset class="messages">
                <div class="message" *ngIf="messages != ''">{{ messages }}</div>
            </fieldset>
            <fieldset class="required">
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input type="email" id="email" name="email" class="field-email1" placeholder="Email Address" required matInput formControlName="email" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter email address</mat-hint>

                    <div class="wrapper-field-errors">
                        <div class="error required" *ngIf="((email?.dirty || email?.touched) && email?.errors?.['required'])">Email address is required</div>
                        <div class="error invalid" *ngIf="email?.errors?.['email'] || email?.errors?.['email']">Email is not valid</div>
                    </div><!-- .wrapper-field-errors -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" id="pw" name="pw" class="field-pw" placeholder="Password" required matInput formControlName="pw" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter password</mat-hint>

                    <div class="wrapper-field-errors">
                        <div class="error required" *ngIf="((pw?.dirty || pw?.touched) && pw?.errors?.['required'])">Password is required</div>
                    </div><!-- .wrapper-field-errors -->
                </mat-form-field>
            </fieldset>
            <fieldset class="actions">
                <button mat-raised-button color="primary" [disabled]="signinForm.invalid">Sign In</button>
                <ul>
                    <li><a title="Sign Up" routerLink="/sign-up">Create an account</a></li>
                </ul>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->