<div id="tenant-select-component" class="wrapper-component">
    <div class="wrapper-form">
        <form id="frm-tenants" [formGroup]="tenantsForm" >
            <fieldset class="fields">
                <ul>
                    <li *ngFor="let t of tenants">
                        <input type="radio" id="{{ t.id }}" name="tenant" />
                        <label for="{{ t.id }}">{{ t.name }}</label>
                    </li>
                </ul>
            </fieldset>
            <fieldset class="actions">
                <button id="submit" type="submit">Select</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->