<div id="wrapper-signin">
    <div class="wrapper-form">
        <form id="form-signin" [formGroup]="signinForm" (ngSubmit)="signin()">
            <fieldset class="errors" *ngIf="signinForm.invalid">
                <div class="error" *ngIf="signinForm?.errors?.backend">{{ formErrorText }}</div>
            </fieldset><!-- .errors -->
            <fieldset class="fields">
                <div id="field-email" class="wrapper-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required formControlName="email" />
                </div><!-- .wrapper-field -->
                <div id="field-pw" class="wrapper-field">
                    <label for="pw">Password</label>
                    <input type="password" id="pw" name="pw" required formControlName="pw" />
                </div><!-- .wrapper-field -->
                <div class="errors" *ngIf="(email?.invalid && (email?.dirty || email?.touched)) || (pw?.invalid && (pw?.dirty || pw?.touched))">
                    <div class="error error-email-required" *ngIf="email?.errors?.required">Email is required</div>
                    <div class="error error-pw-required" *ngIf="pw?.errors?.required">Password is required</div>
                    <div class="error error-pw-minlength" *ngIf="pw?.errors?.minlength">Password is too short</div>
                    <div class="error error-pw-pattern" *ngIf="pw?.errors?.pattern">Password is to simple</div>
                </div><!-- .errors -->
            </fieldset>
            <fieldset class="actions">
                <button type="submit" id="submit">
                    Sign In
                </button>
            </fieldset>
            <fieldset class="links">
                <ul>
                    <li><a id="link-user-signup" routerLink="/user/signup">Sign Up</a></li>
                </ul>
            </fieldset>
            <pre>{{ email?.valid | json }}</pre>
            <pre>{{ pw?.valid | json }}</pre>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- #wrapper-signup -->