<div id="wrapper-signin">
    <div class="wrapper-form">
        <form id="form-signin" [formGroup]="signinForm" (ngSubmit)="signin()">
            <fieldset class="errors" *ngIf="signinForm.invalid">
                <div class="error" *ngIf="signinForm?.errors?.backend">{{ formErrorText }}</div>
            </fieldset><!-- .errors -->
            <fieldset class="fields">
                <div id="field-email" class="wrapper-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required formControlName="email" />
                </div><!-- .wrapper-field -->
                <div id="field-pw" class="wrapper-field">
                    <label for="pw">Password</label>
                    <input type="password" id="pw" name="pw" required formControlName="pw" />
                </div><!-- .wrapper-field -->
            </fieldset>
            <fieldset class="actions">
                <button type="submit">
                    Sign Up
                </button>
            </fieldset>
            <fieldset class="links">
                <ul>
                    <li><a id="link-user-signup" routerLink="/user/signup">Sign Up</a></li>
                </ul>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- #wrapper-signup -->