<div class="wrapper-component">
    <nav id="nav-dashboard">
        <ul>
            <li><a id="link-user-profile" routerLink="/user/profile">Profile</a></li>
            <li><a id="link-tenant-admin" routerLink="/tenant/admin" *ngIf="permissions.includes('tenant.admin')">Tenant Admin</a></li>
            <li><a id="link-site-admin" routerLink="/admin" *ngIf="permissions.includes('site.admin.dashboard.view')">Site Admin Dashboard</a></li>
        </ul>
    </nav>
    <section>
        dashboard content
    </section>
</div><!-- .wrapper-component -->