<div class="wrapper-component">
    <div class="wrapper-tb">
        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <button mat-button class="btn-admin-roles" aria-label="Administer roles" [matMenuTriggerFor]="usersMenu">
                    Users <mat-icon>expand_more</mat-icon>
                </button>
                <button mat-button class="btn-admin-users" aria-label="Save">
                    <mat-icon>save</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-menu #usersMenu="matMenu">
            <a mat-menu-item title="List" routerLink="/admin/users/list">List</a>
            <a mat-menu-item title="Add" routerLink="/admin/users/new">New</a>
        </mat-menu>
    </div><!-- .wrapper-tb -->
</div><!-- .wrapper-component -->