<div class="wrapper-component">
    <div class="wrapper-tbl">
        <table class="tbl-users">
            <caption>Users</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><!-- .wrapper-tbl -->
</div><!-- .wrapper-component -->
<router-outlet></router-outlet>