{
    "openapi": "3.0.0",
    "info": {
        "title": "ERP openapi document",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "http://erp.com:8081",
            "description": "api server"
        },
        {
            "url": "http://localhost:8081",
            "description": "dev api server"
        }
    ],
    "components": {
        "schemas": {
            "apiResponse": {
                "type": "object",
                "required": [
                    "status",
                    "message"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "readOnly": true
                    },
                    "message": {
                        "type": "string",
                        "readOnly": true
                    },
                    "data": {
                        "type": "object",
                        "readOnly": true
                    }
                }
            },
            "currentUserResponse": {
                "type": "object",
                "required": [
                    "id",
                    "active",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": "true"
                    },
                    "active": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "readOnly": true
                    }
                }
            },
            "signUpRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "writeOnly": true
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "email": "email@email.com",
                    "password": "thisIs1Password*"
                }
            },
            "signInRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "writeOnly": true
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "email": "email@email.com",
                    "password": "thisIs1Password*"
                }
            },
            "passwordRequest": {
                "type": "object",
                "required": [
                    "password"
                ],
                "properties": {
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "password": "thisIsNew1Password"
                }
            },
            "permissionsRequest": {
                "type":"object",
                "required": [
                    "tenant_id"
                ],
                "properties": {
                    "tenant_id": {
                        "type": "string",
                        "format": "uuid",
                        "writeOnly": true
                    }
                },
                "example": {
                    "tenant_id": "b5342573-7396-41f2-bb77-3af2bb2d4e9c"
                }
            },
            "userTenantSelectRequest": {
                "type":"object",
                "required": [
                    "tenant_id"
                ],
                "properties": {
                    "tenant_id": {
                        "type": "string",
                        "format": "uuid",
                        "writeOnly": true
                    }
                },
                "example": {
                    "tenant_id": "b5342573-7396-41f2-bb77-3af2bb2d4e9c"
                }
            },
            "adminTenantAddRequest": {
                "type":"object",
                "required": [
                    "name"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "writeOnly": true
                    }
                },
                "example": {
                    "name": "tenant"
                }
            },
            "adminTenantActiveRequest": {
                "type":"object",
                "required": [
                    "tenant_id",
                    "active"
                ],
                "properties": {
                    "tenant_id": {
                        "type": "string",
                        "format": "uuid",
                        "writeOnly": true
                    },
                    "active": {
                        "type": "boolean",
                        "writeOnly": true
                    }
                },
                "example": {
                    "tenant_id": "b5342573-7396-41f2-bb77-3af2bb2d4e9c",
                    "active": true
                }
            },
            "adminTenantsRequest": {
                "type":"object",
                "required": [
                    "filter",
                    "items",
                    "page"
                ],
                "properties": {
                    "filter": {
                        "type": "string",
                        "writeOnly": true
                    },
                    "items": {
                        "type": "number",
                        "writeOnly": true
                    },
                    "page": {
                        "type": "number",
                        "writeOnly": true
                    }
                },
                "example": {
                    "filter": "%test%",
                    "items": 10,
                    "page": 0
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "description": "Bearer authentication",
                "name": "Authorization",
                "in": "header",
                "scheme": "bearer"
            }
        }
    },
    "paths": {
        "/user/signup": {
            "summary": "sign up",
            "description": "sign up",
            "post": {
                "summary": "POST signup credentials",
                "description": "POST signup credentials",
                "tags": [ "user" ],
                "operationId": "user_signup",
                "requestBody": {
                    "required": true,
                    "description": "request body of email and password json object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signUpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "user failed to sign up",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/signin": {
            "summary": "sign in",
            "description": "sign in",
            "post": {
                "summary": "POST sign in credentials",
                "description": "POST sign in credentials",
                "tags": [ "user" ],
                "operationId": "user_signin",
                "requestBody": {
                    "required": true,
                    "description": "request body of email and password json object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signInRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user signed in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "user sign in failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/current": {
            "summary": "get current user",
            "description": "get current user",
            "post": {
                "summary": "POST get current user",
                "description": "POST get current user",
                "tags": [ "user"],
                "operationId": "user_get_current",
                "requestBody": {
                    "required": false,
                    "description": "empty request body"
                },
                "responses": {
                    "200": {
                        "description": "user credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/currentUserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/user/password": {
            "summary": "set current user's password",
            "description": "set current user's password",
            "post": {
                "summary": "POST set user password",
                "description": "POST set user password",
                "tags": [ "user", "password" ],
                "operationId": "user_set_password",
                "requestBody": {
                    "required": true,
                    "description": "user set password request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/passwordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/currentUserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/user/tenants": {
            "summary": "retrieve tenants",
            "description": "retrieve tenants",
            "post": {
                "summary": "POST retrieve tenants",
                "description": "POST retrieve tenants",
                "tags": [ "user", "tenants" ],
                "operationId": "user_get_tenants",
                "requestBody": {
                    "required": false,
                    "description": "empty request body"
                },
                "responses": {
                    "200": {
                        "description": "list of tenants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/user/permissions": {
            "summary": "retrieve user permissions",
            "description": "retrieve user permissions",
            "post": {
                "summary": "POST retrieve user permissions",
                "description": "POST retrieve user permissions",
                "tags": [ "user", "permissions" ],
                "operationId": "user_get_permissions",
                "requestBody": {
                    "required": true,
                    "description": "permissions request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/permissionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "list of permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/user/tenant/select": {
            "summary": "switch to different tenant",
            "description": "switch to different tenant",
            "post": {
                "summary": "POST switch to different tenant",
                "description": "POST switch to different tenant",
                "tags": [ "user", "tenants" ],
                "operationId": "user_tenant_select",
                "requestBody": {
                    "required": true,
                    "description": "user tenant select request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/userTenantSelectRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user switched to tenant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/admin/tenants/add": {
            "summary": "add a tenant",
            "description": "add a tenant",
            "post": {
                "summary": "POST add a tenant",
                "description": "POST add a tenant",
                "tags": [ "tenants", "admin" ],
                "operationId": "admin_tenants_add",
                "requestBody": {
                    "required": true,
                    "description": "admin tenant add request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/adminTenantAddRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "admin successfully added tenant",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/admin/tenants/active": {
            "summary": "set tenant active status",
            "description": "set tenant active status",
            "post": {
                "summary": "POST set tenant active status",
                "description": "POST set tenant active status",
                "tags": [ "tenants", "admin" ],
                "operationId": "admin_tenants_active",
                "requestBody": {
                    "required": true,
                    "description": "set tenant active status request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/adminTenantActiveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "admin successfully set tenant active status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/admin/tenants/get": {
            "summary": "retrieve tenants",
            "description": "retrieve tenants",
            "post": {
                "summary": "POST retrieve tenants",
                "description": "POST retrieve tenants",
                "tags": [ "tenants", "admin" ],
                "operationId": "admin_tenants",
                "requestBody": {
                    "required": true,
                    "description": "retrieve tenants request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/adminTenantsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successfully retrieve list of tenants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        }
    }
}