{
    "openapi": "3.0.0",
    "info": {
        "title": "ERP openapi document",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "http://erp.com:8081",
            "description": "api server"
        }
    ],
    "components": {
        "schemas": {
            "apiResponse": {
                "type": "object",
                "required": [
                    "status",
                    "message"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "readOnly": true
                    },
                    "message": {
                        "type": "string",
                        "readOnly": true
                    },
                    "data": {
                        "type": "object",
                        "readOnly": true
                    }
                }
            },
            "currentUserResponse": {
                "type": "object",
                "required": [
                    "id",
                    "active",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "readOnly": "true"
                    },
                    "active": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "readOnly": true
                    }
                }
            },
            "signUpRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "writeOnly": true
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "email": "email@email.com",
                    "password": "thisIs1Password*"
                }
            },
            "signInRequest": {
                "type": "object",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "writeOnly": true
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "email": "email@email.com",
                    "password": "thisIs1Password*"
                }
            },
            "passwordRequest": {
                "type": "object",
                "required": [
                    "password"
                ],
                "properties": {
                    "password": {
                        "type": "string",
                        "format": "password",
                        "writeOnly": true
                    }
                },
                "example": {
                    "password": "thisIsNew1Password"
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "description": "Bearer authentication",
                "name": "Authorization",
                "in": "header",
                "scheme": "bearer"
            }
        }
    },
    "paths": {
        "/user/signup": {
            "summary": "sign up",
            "description": "sign up",
            "post": {
                "summary": "POST signup credentials",
                "description": "POST signup credentials",
                "tags": [ "user" ],
                "operationId": "user_signup",
                "requestBody": {
                    "required": true,
                    "description": "request body of email and password json object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signUpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "user failed to sign up",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/signin": {
            "summary": "sign in",
            "description": "sign in",
            "post": {
                "summary": "POST sign in credentials",
                "description": "POST sign in credentials",
                "tags": [ "user" ],
                "operationId": "user_signin",
                "requestBody": {
                    "required": true,
                    "description": "request body of email and password json object",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/signInRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user signed in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "user sign in failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/current": {
            "summary": "get current user",
            "description": "get current user",
            "post": {
                "summary": "POST get current user",
                "description": "POST get current user",
                "tags": [ "user"],
                "operationId": "user_get_current",
                "requestBody": {
                    "required": false,
                    "description": "empty request body"
                },
                "responses": {
                    "200": {
                        "description": "user credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/currentUserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/user/password": {
            "summary": "set current user's password",
            "description": "set current user's password",
            "post": {
                "summary": "POST set user password",
                "description": "POST set user password",
                "tags": [ "user", "password" ],
                "operationId": "user_set_password",
                "requestBody": {
                    "required": true,
                    "description": "user set password request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/passwordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "user credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/currentUserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "there is no current user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        }
    }
}