<div class="wrapper-component">
    <div id="admin-tenants">
        <table>
            <thead>
                <tr>
                    <th>Active</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Active</th>
                    <th>Name</th>
                </tr>
            </tfoot>
            <tbody>
                <tr *ngFor="let t of tenants" [attr.data-tenant-id]="t.id">
                    <td>{{ t.active }}</td>
                    <td>{{ t.name }}</td>
                </tr>
            </tbody>
        </table>
    </div><!-- #admin-tenants -->
</div><!-- .wrapper-component -->