<div class="wrapper-component">
    <div class="wrapper-table">
        <table class="tbl-roles">
            <caption>Roles</caption>
            <colgroup>
                <col span="4" class="actions">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="action-view"></th>
                    <th scope="col" class="action-edit"></th>
                    <th scope="col" class="action-permissions"></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th scope="col" class="action-view"></th>
                    <th scope="col" class="action-edit"></th>
                    <th scope="col" class="action-permissions"></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </tfoot>
            <tbody>
                
            </tbody>
        </table>
    </div><!-- .wrapper-table -->
</div><!-- .wrapper-component -->