<div class="wrapper-component">
    <div class="wrapper-form">
        <form class="form-signup" method="post" action="" [formGroup]="signUpForm" (ngSubmit)="submit()">
            <fieldset formGroupName="emails">
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input type="email" id="email1" name="email1" class="field-email1" placeholder="Email Address" required matInput formControlName="email1" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter email address</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Email Address</mat-label>
                    <input type="email" id="email2" name="email2" class="field-email2" placeholder="Confirm Email Address" required matInput formControlName="email2" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter email address</mat-hint>
                </mat-form-field>
            </fieldset>
            <fieldset formGroupName="passwords">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" id="pw1" name="pw1" class="field-pw1" placeholder="Password" required matInput formControlName="pw1" />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter password</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" id="pw2" name="pw2" class="field-pw2" placeholder="Confirm Password" required matInput formControlName="pw2" >
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Please enter password</mat-hint>
                </mat-form-field>
            </fieldset>
            <fieldset class="actions">
                <button mat-raised-button color="primary" [disabled]="signUpForm.invalid">Register</button>
            </fieldset>
        </form>
    </div><!-- .wrapper-form -->
</div><!-- .wrapper-component -->